.card-content {
  display: flex;
  justify-content: center;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
  border: 1px solid #131313;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #131313;
  display: flex;
  justify-content: center;
  text-align: center;
}
